/* Basic styling */
/* node cell */
.treeMap td {
	text-align: center;
	vertical-align: middle;
	padding: 0;
}
.treeMap.vertical td {
	vertical-align: top;
}

/* The node */
.treeMap .node {
	margin: 4px 0px;
	padding: 12px;
	background-color: #35363B;
	font-size: 12px;
	color: #FFFFFF;
	border-radius: 4px;
	display: inline-block;
}
.treeMap.horizontal .node {
	white-space: nowrap;
}
.treeMap.vertical .node {
	margin: 0px 4px;
}
.treeMap .node a {
	color: #FFFFFF;
	text-decoration: none;
}

/* Draw the lines */
.treeMap.horizontal .line {
	height: 4px;
	width: 20px;
}
.treeMap.horizontal .right, 
.treeMap.vertical .down {
	background-color: black;	
	margin: 0px auto;
}
.treeMap.horizontal .top { border-top: 2px solid black; }
.treeMap.horizontal .down { border-bottom: 2px solid black; }
.treeMap.horizontal .left { border-left: 4px solid black; }

.treeMap.vertical .line {
	height: 20px;
	width: 4px;
}
.treeMap.vertical .down {
	background-color: black;	
	margin: 0px auto;
}
.treeMap.vertical .top { border-top: 4px solid black; }
.treeMap.vertical .right { border-left: 2px solid black; }
.treeMap.vertical .left { border-right: 2px solid black; }
